body {
font-family: Arial;
padding: 20px;
}



.food-list {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
}




.food-card {
border: 1px solid #ccc;
padding: 10px;
border-radius: 10px;
}


